* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #e3e3e3e3;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  height: 100%;

}

header {
  padding: 0px 18px 0px 18px;
  background-color: white;
  ;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 12px 16px 12px 16px;
  color: #ED6565;
  transition: all 120ms;
  margin-right: 12px;
}

.nav-item:hover {
  background-color: #ED6565;
  color: white;
  border-radius: 12px;
}

header a {
  text-decoration: none;
}

@media (max-width: 576px) {


  #navbar {
    display: block;
    flex-flow: column;
    text-align: center;
    padding-bottom: 12px;
  }


}

#hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: -96px;
  width: 100vw;
  max-width: 1500px;
  min-height: 800px;
  background-image: url('../assets/images/HeroBackgroundImage.jpg');
  background-position: center;
  align-items: center;
}

#heroImage {
  max-width: 100%;
  max-height: 600px;
}

a#downArrow {
  margin-top: -50px;
}

a#downArrow:hover {
  color: #ED6565 !important;
}

@media (min-width: 1500px) {
  #hero {
    width: 100%;
  }


}

@media (max-width: 576px) {

  a #downArrow {
    margin: -50px auto 50px auto;
  }

  #hero {
    min-height: 200px;
    max-height: 600px !important;
  }

}

.divider.blue {
  height: 155px;
  width: 100vw;
  background-color: #00A7DA;
  max-width: 1500px;
}