* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #e3e3e3e3;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  height: 100%;

}

header {
  padding: 0px 18px 0px 18px;
  background-color: white;
  ;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 12px 16px 12px 16px;
  color: #ED6565;
  transition: all 120ms;
  margin-right: 12px;
}

.nav-item:hover {
  background-color: #ED6565;
  color: white;
  border-radius: 12px;
}

header a {
  text-decoration: none;
}

@media (max-width: 576px) {


  #navbar {
    display: block;
    flex-flow: column;
    text-align: center;
    padding-bottom: 12px;
  }


}

#hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: -96px;
  width: 100vw;
  max-width: 1500px;
  min-height: 800px;
  background-image: url('../assets/images/HeroBackgroundImage.jpg');
  background-position: center;
  align-items: center;
}

#heroImage {
  max-width: 100%;
  max-height: 600px;
}

a#downArrow {
  margin-top: -50px;
}

a#downArrow:hover {
  color: #ED6565 !important;
}

@media (min-width: 1500px) {
  #hero {
    width: 100%;
  }


}

@media (max-width: 576px) {

  a #downArrow {
    margin: -50px auto 50px auto;
  }

  #hero {
    min-height: 200px;
    max-height: 600px !important;
  }

}

.divider.blue {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 155px;
  width: 100vw;
  background-color: #00A7DA;
  max-width: 1500px;
}

.divider.gray {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 155px;
  width: 100vw;
  background-color: #474747;
  max-width: 1500px;
}

.divider.pink {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 155px;
  width: 100vw;
  background-color: #ED6565;
  max-width: 1500px;
}

.divider p {
  font-size: 32px;
  color: white;
  text-align: center;
}

#whoWeAre {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  max-width: 1500px;
}

#whoWeAreContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#whoWeAreContent > div {
  width: 50%;
  min-width: 400px;

}

#whoWeAreContent div:nth-child(1) {
  display: flex;
  justify-content: center;
}

#whoWeAre h2 {
  color: #252525;
  font-size: 48px;
  margin-bottom: 32px;
  margin-top: 32px;
}

#whoWeAreContent p {
  line-height: 190.2%;
  font-size: 18px;
  padding: 12px;
}

#ourCalling {
  background-image: url('../assets/images/ShapesBackground.svg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
  min-height: 543px;
  padding-top: 24px;
  max-width: 1500px;
}

#ourCalling > div {
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  color: #ffffff;
  padding: 32px;
}

#ourCalling h2 {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 32px;
  text-align: center;
}

#ourCalling p {
  line-height: 190.2%;
  font-size: 18px;
  max-width: 600px;
}

#ourVision {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ourVision h2 {
  color: #252525;
  font-size: 48px;
  margin-bottom: 32px;
  margin-top: 32px;
}

#ourVision p {
  line-height: 190.2%;
  font-size: 18px;
  padding: 12px;
  max-width: 1000px;
  min-width: 400px;
}

#picDivider {
  margin-top: 48px;
  max-width: 1500px;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  grid-template-columns: auto auto auto;
}

#picDivider img {
  min-width: 300px;
  max-width: 33.33333%;
  height: auto;
  max-height: 400px;
}

#churchPlanting {
  padding: 32px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
  width: 100vw;
  max-width: 1500px;
}

#churchPlanting h2 {
  text-align: center;
  color: #252525;
  font-size: 48px;
  margin-bottom: 32px;
  margin-top: 32px;
}

#churchPlanting p {
  max-width: 500px;
  line-height: 190.2%;
  font-size: 18px;
  padding: 12px;
}

#churchPlanting img {
  width: auto;
  max-width: 100vw;
  max-height: 550px;
  height: auto;
}

#partnerWithUs {
  max-width: 1100px;
  margin-top: 48px;
  margin-bottom: 48px;
}

#partnerWithUs p {
  line-height: 190.2%;
  font-size: 18px;
}

#partnerWithUs h2 {
  text-align: center;
  color: #252525;
  font-size: 48px;
  margin-bottom: 32px;
  margin-top: 32px;
}